{% extends "layout.html" %}

{% block page %}
<div class="card text-manual bg-manual mb-3" style="max-width: 68rem;">
    <div class="card-header" style="color: rgb(0, 0, 0);background-color: rgb(167, 145, 189);">info_1</div>
    <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card text-manual bg-manual mb-3" style="max-width: 68rem;">
    <div class="card-header" style="color: rgb(0, 0, 0);background-color: rgb(167, 145, 189);">info_2</div>
    <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card text-manual bg-manual mb-3" style="max-width: 68rem;">
    <div class="card-header" style="color: rgb(0, 0, 0);background-color: rgb(167, 145, 189);">info_3</div>
    <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
{% endblock page %}