{% extends "layout.html" %}

{% block page %}
<div class="card text-manual bg-manual mb-3" style="max-width: 68rem;">
    <div class="card-header"
        style="color: rgb(0, 0, 0);background-color: rgb(167, 145, 189);font-weight: 700;font-size: large;">
        Projet d’analyse
    </div>

    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item" style="background-color: #DEBDFF;border-color: #DEBDFF;line-height: 2.0;">Objet
                permettant
                <strong>le regroupement de
                    l’analyse de fichiers</strong> de
                consommation et/ou de
                production (choix manuel lors de l’upload) pour afficher des analyses temporelles (pour l’instant
                uniquement
                au mois) de cumul de consommation, de production, de surplus.
            </li>
            <li class="list-group-item" style="background-color: #DEBDFF;border-color: #DEBDFF;line-height: 2.0;">Pour
                un projet donné on
                va trouver la liste
                des fichiers avec leur
                caractéristiques
                (statut, temps
                d’analyse, nombres de lignes, modèle) et la possibilité de télécharger le résultat d’un fichier,
                supprimer
                le fichier du projet et d’ajouter un nouveau fichier au projet à l’aide d’un formulaire.
            </li>
            <li class="list-group-item" style="background-color: #DEBDFF;border-color: #DEBDFF;line-height: 2.0;">La
                page d’accueil
                permet
                d’avoir des
                informations sur
                l’utilisation des fonctionnalités
                d’analyse :
                <ul class="list-group" style="padding-top: 20px;">
                    <li class="list-group-item"
                        style="background-color: #DEBDFF;border-color: #DEBDFF;padding: 0rem 1rem !important;">- nombres
                        de
                        projets</li>
                    <li class="list-group-item"
                        style="background-color: #DEBDFF;border-color: #DEBDFF;padding: 0rem 1rem !important;">- nombres
                        de
                        fichiers moyens par
                        projets</li>
                    <li class="list-group-item"
                        style="background-color: #DEBDFF;border-color: #DEBDFF;padding: 0rem 1rem !important;">- temps
                        moyens
                        d’analyse pour 10000
                        lignes</li>
                    <li class="list-group-item"
                        style="background-color: #DEBDFF;border-color: #DEBDFF;padding: 0rem 1rem !important;">- un
                        graphe
                        avec le temps d’analyse
                        par modèle de fichier (9 templates à
                        ce jour)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

{% endblock page %}